<h1><%=@recipe.name%>
<br>
<br>
<h3>Ingredients</h2>

<ul>
    <%@ingredients.each do |i|%>
    <li>-<%=i%><li>
    <br>
    <% end %>
    </ul>










<h5><%=@recipe.ingredients%></h5>
<br>
<br>
<h3>Steps:</h3>
<h5><%=@recipe.steps%></h5>
<br>
<br>
<h3>Description</h3>
<p><%= @recipe.description %></p>

<%if @recipe.user_id==session[:user_id]%>
<form method ='get' action ='/recipes/<%=@recipe.id%>/edit' id="edit_recipe">
<button type='submit'>Edit Recipe</button>
</form>
<br>
<form method="post" action="/recipes/<%=@recipe.id%>" id="delete_button">
<input type='hidden' name='_method' value='delete'>
<button type='submit' value="delete" form='delete_button'>Delete Recipe</button>
</form>
<% end %>

<%if session[:user_id]%>
<form method='get' action='/user/account' id='back_to_account'>
<button type='submit'>Back to account</button>
</form>
<% else %>
<form method='get' action='/' id='back_to_homepage'>
<button type='submit'>Back to Homepage</button>
</form>
<% end %>
<br>
