<h1><%=@recipe.name%>
<br>
<br>
<h3>Ingredients</h2>
<h5><%=@recipe.ingredients%></h5>
<br>
<br>
<h3>Steps:</h3>
<h5><%=@recipe.steps%></h5>
<br>
<br>
<h3>Description</h3>
<p><%= @recipe.description %></p>
<form method="post" action="/recipes/<%=@recipe.id%>" id="delete_button">
<input type='hidden' name='_method' value='delete'>
<button type='submit' value="delete" form='delete_button'>Delete Recipe</button>